<!DOCTYPE html>
<html xmlns:th="http://thymeleag.org">
<head>
<meta charset="UTF-8">
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<title>BoVoyages Back</title>
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" th:href="@{backToDestinations}">BoVoyages
			Back </a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<form th:action="@{backToDestinations}">
						<button class="btn btn-link">Toutes les Destinations</button>
					</form>
				</li>

			</ul>
			<form class="form-inline my-2 my-lg-0"
				th:action="@{getDestinationsByRegionStartingWith}" method="get">
				<input class="form-control mr-sm-2" type="search"
					placeholder="Search a destination" aria-label="Search"
					name="search" id="search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</nav>
	<br>
	<h1 th:text="${destination.region}"></h1>
	<div class="img-container" th:if="${destination.images}">
		<img class="rounded float-left" width="300" src="${src}"
			th:src="${thsrc}">
	</div>
	<br>
	<form style="display: inline;" action="/images" method="POST"
		enctype="multipart/form-data">
		<input type="hidden" th:value="*{destination.id}" name="idDest"
			id="idDest">
		<button class="btn btn-primary" type="submit">Ajouter une
			image</button>
	</form>

	<form th:action="@{destinationUpdateDescription}" method="Post">
		<input type="hidden" th:value="*{destination.id}" name="idDest"
			id="idDest">
		<textarea class="form-control" th:text="${destination.description}"
			name="description" id="description"></textarea>
		<span><button class="btn btn-primary" type="submit">Modifier
				description</button></span>
	</form>
	<br>
	<h2>
		Dates disponibles au <span
			th:text="${#dates.format(#dates.createNow(), 'dd/MM/yyyy')}"
			name="today" id="today"></span>
	</h2>

	<table class="table">
		<tr>
			<th scope="col">Date Aller</th>
			<th scope="col">Date Retour</th>
			<th scope="col">Nombre de places</th>
			<th scope="col">Prix HT (€)</th>
			<th scope="col">Promo</th>
		</tr>
		</thead>
		<th:block th:each="date : ${dates}">
			<div>
				<form th:action="@{destinationDateUpdate}" method="Post">
					<tr>
						<td><input class="form-control"
							th:value="${#dates.format(date.dateAller, 'dd/MM/yyyy HH:mm')}"
							name="dateAller" id="dateAller"></td>
						<td><input class="form-control"
							th:value="${#dates.format(date.dateRetour, 'dd/MM/yyyy HH:mm')}"
							name="dateRetour" id="dateRetour"></td>
						<td><input class="form-control" th:value="${date.nbrePlaces}"
							name="nbrePlaces" id="nbrePlaces"></td>
						<td><input class="form-control" th:value="${date.prixHT}"
							name="prixHT" id="prixHT"></td>
						<td><input class="form-control" th:value="${date.promo}"
							name="promo" id="promo"></td>
						<td><input type="hidden" th:value="*{date.id}" name="idDate"
							id="idDate"> <input type="hidden"
							th:value="*{destination.id}" name="idDest" id="idDest">
							<button class="btn btn-primary" type="submit">Modifier</button></td>
				</form>
				<td>
					<form th:action="@{destinationDateDelete}" method="Post">
						<input type="hidden" th:value="*{date.id}" name="idDate"
							id="idDate"> <input type="hidden"
							th:value="*{destination.id}" name="idDest" id="idDest">
						<button class="btn btn-danger" type="submit">Supprimer</button>
					</form>
				</td>
				</tr>

			</div>
		</th:block>
		<tr>
			<form th:action="@{destinationDateNew}" method="Post">
				<td><input class="form-control" name="newDateAller"
					id="newDateAller"></td>
				<td><input class="form-control" name="newDateRetour"
					id="newDateRetour"></td>
				<td><input class="form-control" name="newNbrePlaces"
					id="newNbrePlaces"></td>
				<td><input class="form-control" name="newPrixHT" id="newPrixHT"></td>
				<td><input class="form-control" name="newPromo" id="newPromo"></td>
				<td><input type="hidden" th:value="*{destination.id}" name="id"
					id="id">
					<button class="btn btn-primary" type="submit">Ajouter Date</button></td>
			</form>
		</tr>
	</table>
</body>
</html>